<div class="card page-wrapper">
    <!-- begin::Header  [(ngModel)]="searchText" -->
    <div class="container-fluid mt-4">
        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title">List </h5>
            </div>


            <div class="d-flex justify-content-end">

                <div>
                    <p class="mt-2 mr-2">Show by</p>
                </div>
                <div>
                    <select class="form-control" (change)="onTableSizeChange($event)">
                        <option *ngFor="let size of pageSizes">
                            {{size}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- <div class="btnCreate">
                <button routerLink="/leave/leavetype-add"> Create </button>
            </div> -->
        </div>
        <nav>
            <!-- <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" (click)="filterUser('Active')" type="button" role="tab" aria-controls="nav-home">Active</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" (click)="filterUser('Inactive')" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile">In-Active</button>
          </div> -->
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <!-- <button class="nav-link" *ngFor="let data of visibleData" [class.active]="isActive === {{data.status}}"  id="nav-home-tab" data-bs-toggle="tab" (click)="showAll([allStatus])"  type="button" role="tab" aria-controls="nav-home">All</button> -->
                <button class="nav-link" [class.active]="isActive === 'All'" id="nav-all-tab" data-bs-toggle="tab"
                    (click)="filterUser('All')" type="button" role="tab" aria-controls="nav-all">All</button>

                <button class="nav-link" [class.active]="isActive === 'TO DO'" id="nav-home-tab" data-bs-toggle="tab"
                    (click)="filterUser('TO DO')" type="button" role="tab" aria-controls="nav-home">To Do</button>
                <button class="nav-link" [class.active]="isActive === 'QA'" id="nav-profile-tab" data-bs-toggle="tab"
                    (click)="filterUser('QA')" type="button" role="tab" aria-controls="nav-profile">QA</button>
                <button class="nav-link" [class.active]="isActive === 'DONE'" id="nav-profile-tab" data-bs-toggle="tab"
                    (click)="filterUser('DONE')" type="button" role="tab" aria-controls="nav-profile">Done</button>
            </div>

        </nav>
    </div>

    <div class="card-header border-0  ">


        <div>
            <input class="form-control" [(ngModel)]="searchText" (keyup)="filterData()" placeholder="Type to search...">
        </div>
        <!-- end::Header -->
        <!-- begin::Body -->
        <div class="card-body py-3" [ngClass]="'d-flex justify-content-center align-items-center'">
            <!-- begin::Table container -->
            <div class="table-responsive">
                <!-- begin::Table -->
                <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
                    <!-- begin::Table head -->
                    <thead class="text-center">
                        <tr class="fw-bolder text-muted">
                            <!-- <th>ID</th> -->
                            <th>Name</th>
                            <!-- <th>Admin ID</th> -->
                            <th>Title</th>
                            <!-- <th>Description</th> -->
                            <th>Priority</th>
                            <th>Starts</th>
                            <th>Ends</th>
                            <th>Status</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <!-- end::Table head -->
                    <!-- begin::Table body -->
                    <tbody class="text-center">
                        <tr *ngFor="let data of visibleData">
                            <!-- <td>{{data.id}}</td> -->
                            <td>{{data.name}} </td>
                            <!-- <td>{{data.adminId}}</td> -->
                            <td>{{data.title}}</td>
                            <!-- <td>{{data.desc}}</td> -->
                            <td>{{data.priority}}</td>
                            <td>{{data.taskStartFrom | date:'d/MM/yy'}}</td>
                            <td>{{data.taskEndTo | date:'d/MM/yy'}}</td>
                            <!-- <td>{{data.status}}</td> -->
                            <td><select (change)="onChangeStatus($event,data)" [(ngModel)]="data.status"
                                    class="form-control">
                                    <option value="TO DO">To Do</option>
                                    <option value="QA">QA</option>
                                    <option value="DONE">Done</option>
                                </select></td>
                            <td>
                                <!-- <button routerLink="/requirements/requirement-details/{}" class="btn btn-primary btn-sm mr-1 btnView"
                                        style="background-color: #d72480;height: 32px;"><i class="fa fa-search pt-1"
                                             aria-hidden="true"></i></button> -->

                                <button routerLink="/task/task-details/{{data.taskId}}"
                                    class="btn btn-primary btn-sm mr-1 btnView" style="height: 32px;"><i
                                        class="fa fa-search pt-1" aria-hidden="true"></i></button>
                                <button routerLink="/task/task-edit/{{data.taskId}}"
                                    class="btn btn-secondary btn-sm mr-1 btnEdit" style="height: 32px;"><i
                                        class="fa fa-pencil-square-o pt-1" aria-hidden="true"></i></button>
                                <button type="button" (click)="taskPass(data.taskId)" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger btn-sm btnDel" style="height: 32px;"><i
                                        class="fa fa-trash-o pt-1" aria-hidden="true"></i></button>

                            </td>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body"> 
                                            Are you sure, you want to delete this item?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" (click)="taskDel(selectedTaskId)" data-dismiss="modal" class="btn btn-primary ml-2">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </tr>
                    </tbody>
                    <!-- end::Table body -->
                </table>
                <!-- end::Table -->
            </div>

        </div>
        <div class="d-flex justify-content-center">
            <img style="margin: 0 auto; margin-bottom: 30px;" *ngIf="isLoading" width="85px"
                src="../../../../assets/gif/planet.gif">
        </div>
        <!-- begin::Body -->
        <!-- <div class="row"> -->
        <div class="row paginator mt-3 d-flex justify-content-center mb-3">
            <!-- Working Pagination  -->
            <span class="col-md-2 col-3 col-sm-3 col-lg-2" style="text-align: center;">
                <button class="btn btn-sm " (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
            </span>
            <span class="my-auto col-md-2   col-4 col-sm-5 fs-3 col-lg-2" style="text-align: center;">

                Page&nbsp;&nbsp;
                <input type="number" style="text-align: center;" [(ngModel)]="currentPage" (input)="onPageInputChange()"
                    min="1" max="{{ totalPages }}" /> &nbsp;of &nbsp;{{ totalPages }}
                <!-- Page  &nbsp;&nbsp; {{ currentPage }}&nbsp;&nbsp;    of &nbsp;&nbsp;   {{ totalPages }} -->

            </span>
            <span class="col-md-2 col-3 col-sm-3 col-lg-2 text-center">
                <button class="btn btn-sm " (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
            </span>
        </div>

    </div>