.table-responsive{
    overflow: hidden;
}

// input{
//     position: relative;
//     top: 8px;   
//     height: 40%;
//     font-size: 14px;
// }
// button{
//     height: 39px;
//     position: relative;
//     top: -2px;
//     left: -4px;
// }

.dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
    position: absolute;
    left: 130px;
    // display: none;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}