<div class="card page-wrapper">


    <div class="card-header border-0  ">
        <ng-container class="mb-3 mt-3 ">
            <div>

                <div class="card-body py-3">
                    <div class="row">
                        <div class="table-responsive col-6">

                            <table 
                                class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">

                                <thead class="text-center">
                                    <tr class="fw-bolder text-muted">

                                        <th>Time in</th>
                                        <th>Time Out</th>

                                    </tr>
                                </thead>

                                <tbody class="text-center">
                                    <tr >

                                        <!-- <ng-container *ngIf="logs.date === selected.dates"> -->
                                            <!-- <td>{{checks.checkIn.split(' ')[0]}}&nbsp; {{ checks.checkIn.split(' ')[1]}}
                                            </td>
                                            <td>{{checks.checkOut.split(' ')[0]}}&nbsp;{{ checks.checkOut.split('
                                                ')[1]}}</td> -->
                                        <!-- </ng-container> -->
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                        <!-- <div class="table-responsive col-6">
                            <table *ngIf="logs.status !== 'Absent'"
                                class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">

                                <thead class="text-center">
                                    <tr class="fw-bolder text-muted">


                                            <th>Breaks In</th>
                                        <th>Breaks Out</th>

                                    </tr>
                                </thead>

                                <tbody class="text-center">
                                    <tr *ngFor="let breakss of forBreakInOut">

                                        <ng-container *ngIf="logs.date === breakss.datess">
                                            <td>{{breakss.breakIn.split(' ')[0]}}&nbsp;{{breakss.breakIn.split(' ')[1]}}
                                            </td>
                                            <td>{{breakss.breakOut.split(' ')[0]}}&nbsp;{{breakss.breakOut.split('
                                                ')[1]}}</td>
                                        </ng-container>
                                    </tr>

                                </tbody>

                            </table>
                        </div> -->

                    </div>
                </div>

            </div>
        </ng-container>
    </div>
</div>
