<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a>
                        Water App Panel
                    </a>
                </li>
                <!-- <li>
                    <a href="http://blog.creative-tim.com">
                       
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        
                    </a>
                </li> -->
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}  <a >Time Mangement</a>
        </div>
    </div>
</footer>
